<div class="done-text-top">
  <h5 class="text-center">お問い合わせいただき、ありがとうございます。<br>
  近日中にあらためてご連絡いたします。</h5>
</div>

<div class="done-text-bottom">
  <%= link_to '最初のページに戻る', root_path, class: "link-done-botton" %>
</div>
